---
name: Lint and Test

on: # yamllint disable-line rule:truthy
  pull_request:
  push:
    branches: ["main"]

permissions:
  contents: read

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          cache: "pip"
      - run: python -m pip install . -r dev-requirements.txt
      - uses: pre-commit/action@v3.0.1
      - run: pytest
      - env: 
          SERPAPI_API_KEY: ${{ secrets.SERPAPI_API_KEY }}
